<!DOCTYPE html>
<html>

<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div class="home-container">
        <h1>Welcome to the Reminder Application</h1>

        <ul id="todo-list">
            <!-- Todo items will be added here dynamically -->
        </ul>
        <form id="add-todo-form">
            <input type="text" id="todo-input" placeholder="Add a new task">
            <button type="submit">Add

            </button>
            <button id="logout-button"> Log Out</button>
        </form>
    </div>
    <script src="/script.js"></script>
</body>

</html>